name: Tests

on:
  push:
    branches:
      - dev
  pull_request:

jobs:
  lint:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "1.3.2"
      - name: Install tox
        run: pip install tox
      - name: run tox lint and type
        run: tox -e lint,type
  unit-test:
    name: Unit testing
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-13 # runs x64
          - macos-14 # runs arm64
          - windows-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        exclude:
          - os: macos-13
            python-version: "3.11"
          - os: macos-13
            python-version: "3.12"
    runs-on: ${{ matrix.os }}
    env:
      PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "1.3.2"
      - name: Install tox
        run: pip install tox
      - name: run tox test
        run: tox -e test
  complete:
    # see https://github.community/t/status-check-for-a-matrix-jobs/127354/7
    name: Report status
    needs: [lint, unit-test]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Check all job status
        # see https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#needs-context
        # see https://stackoverflow.com/a/67532120/4907315
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
            || contains(needs.*.result, 'skipped')
          }}
        run: exit 1
  auto-merge-dependabot:
    name: Auto merge dependabot PR
    needs: [lint, unit-test]
    if: ${{ (github.event_name == 'pull_request') && (github.actor == 'dependabot[bot]') }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Squash and Merge PR from dependabot
        uses: fastify/github-action-merge-dependabot@v3.10.2
        with: 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          